
/*cssreset made by haoqing*/

body, blockquote, dd, dl, figure, form, p, pre, h1, h2, h3, h4, h5, h6 { margin: 0; }
menu, ul, ol { list-style: none; margin: 0; padding: 0; }
body { line-height: 1.5; background-color: #FFFFFF;font-weight: 200; }
body, h1, h2, h3, h4, h5, h6, input, button, select, textarea { font-size: 18px; }
input[type="button"], input[type="submit"], input[type="reset"] { font-size: 16px; }
body, input, button, select, optgroup, option, textarea, pre { font-family: Arial, Roboto, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'Simsun', STXihei, 'sans-serif'; }
iframe { background-color: #FFFFFF; vertical-align: middle; }
a { color: #000000; }
a:hover { text-decoration: underline; color: #FF0000; }
img { vertical-align: middle; }
a img { border: 0 none; }
fieldset { margin: 0; padding: 0; }
legend { color: windowtext; }
button, input.ie6 { overflow: visible; padding: .1em .25em; cursor: pointer; }
input[type="button"], input[type="submit"], input[type="reset"] { overflow: visible; padding: .1em .25em; cursor: pointer; }
input[type="text"], select, textarea { background-color: #FFFFFF; }
select { border: 1px inset; }
textarea { overflow: auto; vertical-align: text-bottom; *vertical-align: auto; border: 1px solid; resize: vertical; }
table { border-spacing: 0; }
td, th, caption { padding: 0; }

/*maincss made by haoeryou*/
.clearfix:before,.clearfix:after{
  content: "";
  display: table;
}
.clearfix:after{
  clear:both;
}
.clearfix{*zoom:1;}

body{
  background: #f5f5f5;
}
a{
  text-decoration: none;
  transition: all .3s;
}
a:hover{
  color: #FF4040;
  text-decoration: underline;
}
.header{
  width: 1200px;
  height: 100px;
  margin:0 auto;
  background: -webkit-linear-gradient(left bottom,#EE6363,#FF4040);
  background: -moz-linear-gradient(left bottom,#EE6363,#FF4040);
  text-align: center;
  color: #FAEBD7;
  padding-top: 30px;
}
.header h3{
  font-size: 24px;
  font-weight: 200;
}
.header p{
  font-size: 14px;
}
.container{
  width: 1200px;
  min-height: 600px;
  border-radius: 0 0 5px 5px;
  margin:0 auto 20px;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.items{
  width: 300px;
  min-height: 400px;
  float: left;
  background: #f5f5f5;
  margin-left: 75px;
  margin-top: 50px;
  border-radius: 3px;
  transition: all .3s;
}
.items:hover{
  margin-top:45px;
  box-shadow: 0px 5px 10px #ccc;
}
.item-title{
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  font-size: 24px;
}
.items ul{
  font-size: 14px;
  padding:0 20px 20px;
}
.items ul li{
  margin-bottom: 5px;
}
.xm{
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background:#FF4040;
  position: absolute;
  right: 10px;
  bottom: -25px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}
.footer{
  width: 1200px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  margin:0 auto;
}